*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    list-style: none;
    text-decoration: none;
}

 .header{
     width: 100%;
     height: 80px;
     display: flex;
     align-items: center;
     position: relative;
     /*background-color: #08f200 ;*/
     /*background-color: #0065ff;*/
     background-color: #2570fc;
 }

 .header input,
 #check-label{
     display: none;
 }

 .logo{
     position: relative;
     margin-left: 80px;

 }
 .logo a{
     width: 100%;
     font-size: 20px;
     color: #08f200;
     font-family: sans-serif;
     font-weight: 500;
 }

 .links-area{
     width: 80%;
     position: relative;
     margin-left: 85px;
     margin-top: 7px;
 }

 .links-area li{
     display: inline-block;
     float: left;
     position: relative;
 }
 .links-area li a,
 .links-area li label{
     position: relative;
     padding: 16px 10px;
     font-size: 16px;
     font-weight: 350;
     color: #f1f1f1;
     transition: all .2s;
     cursor: pointer;

 }

 .links-area li a i,
 .links-area li label i{
     color : #08f200;

 }

.links-area li a:hover ,
.links-area li label:hover{
    color: #08f200 ;
    transition: .2s;
}

.dropdown{
    position: absolute;
    display: block;
    text-align: left;
    top:40px;
    background-color: #2570fc;
    padding: 8px 5px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
.dropdown >li{
    width: 100%;
    display: block;
    line-height: 2;
    transition: all .2s;
}

.links-area li:hover .dropdown{
    opacity: 1;
    pointer-events: visible;
   top:37px;
}

/* arama alanını düzenleme  */

.links-area form{
    position: relative;
    float: right;margin-right: 20px;
}

.links-area input[type=search]{
    display: inline-block;
}

.links-area form input{
    padding: 5px 25px 5px 5px;
 outline: none;
    width: 260px;
    cursor:pointer;
    border: 1px solid #08f200;
    border-radius: 10px;
}
.links-area form label{
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 2px 5px;
    border-left-color: #f1f1f1;
    cursor :pointer;
}

/* responsive ayarlama */
@media screen and (max-width: 1200px) {
  .logo{
      position: relative;
      margin: 0 auto;
      text-align: center;
  }
    .links-area{
        position: absolute;
        display: none;
        width: 100%;
        top: 60px;
        background-color: #2570fc ;
        margin: 0;
        z-index: 99;
        text-align: left;
    }
    .links-area li{
        display: block;
        float: none;
        width: 85%;
    }
    .links-area li a,
    .links-area li label{
        display: block;
        width: 85%;

    }

    .dropdown{
        top :0;
        transition: all .0s;
    }

    .links-area li:hover .dropdown,
    .links-area li .dropdown{
        opacity: 0;
    }

    .links-area li input:checked ~ .dropdown{
        opacity: 1;
        top: 0;
        position: relative;
        display: block;
        margin-left: 20px;
    }
    .dropdown li{
        line-height: 1.5;
    }

    /* menuyu acma kapama tusu  */
    .header #check-label{
        display: block;
        margin: 5px 10px 5px 20px;
        font-size: 20px;
        color: #f1f1f1;
        cursor:pointer;
    }

    #check-bars:checked ~ .links-area{
        display: block;
    }

    .links-area form{
        float: none;
        width: 80%;
        margin: 0 auto 25px auto;

    }
    .links-area form input{
        width: 100%;

    }
}

/* header field done  */




/*  content field start  */

.content{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #f1f1f1;

}

.left{
    min-height: 800px;
    height: auto;
    width: 58%;
    float: left;
    margin: 30px  0 60px 60px;
}
.left2{
    border: 1px solid  rgba(194, 226, 253,0.9);
    /*box-shadow: 0 10px 20px  rgba(194, 226, 253,0.7*/
    width: 100%;
    min-height: 300px;
    height: auto;
    margin-bottom: 30px;
}

.left2 h2{
    border: 1px solid lime;
    font-weight: 450;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 8px;
    margin: 3px;
    background-color: antiquewhite;
    overflow: hidden;
    object-fit: cover;
}
.left2 h2 i{
    color: crimson;
    font-size: 15px;
}

.img-card{
    position: relative;
    width: 300px;
    height: 200px;
    cursor:pointer;
    overflow: hidden;
    object-fit: cover;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 7px;
}

.img-card::before{
    content: "";
    position: absolute;
    width: 100%;
    height:100% ;
    top: 0;
    left: 0;
    transition: all .7s;
    transform: translateY(-100%);

}

.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-card::before{
    background-color: lime;
}

.img-card .img-yazi{
    background-color: rgba(194, 226, 253,0.7);
}

.img-yazi{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all .7s;
}

.img-yazi a{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 450;
    cursor:pointer;
    opacity: 0;
    color: crimson;
}

.img-card:hover::before{
    transform: translateY(95%);
}
.img-card:hover .img-yazi{
    transform: none;
}

.img-card:hover a{
    opacity: 1;
    transition-delay: .3s;
}

.left2 p{
    margin: 10px 5px 5px 10px ;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 450;
    line-height: 1.5;

}


.devam-img img{
    width:95%;
    height: 350px;
    border-radius: 15px;
    display: block;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;


}
/*  devam resimdeki img küçük ekranlarda ayar */
@media screen and (max-width: 1200px){
    .devam-img{
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
    .devam-img img{
        width: 97%;
        margin-left: 13px;
        padding: 0;

    }
}
@media screen and (max-width: 500px){
    .devam-img{
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;

    }
    .devam-img img{
        width: 96%;
        margin-left: 8px;

        padding: 0;

    }
    .devam-p p{
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
}
.devam-p p{
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 8px;
    line-height: 1.5;
    color: #2a2a2a;
    font-weight: 450;
}



.right{

    width: 30%;
    min-height: 800px;
    height: auto;
    float: left;
    margin: 30px  0 50px 70px;
}

.right2{

    min-height: 350px;
    height: auto;
    margin-bottom: 30px;
}

.right2 h2{
    border: 1px solid rgba(194, 226, 253,0.7);
    background-color: antiquewhite;
    padding: 10px 8px;
   text-align: center;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 460;
}

.right2 ul li{
    border: 1px solid #f1f1f1;
    margin-bottom: 8px;
    padding: 10px 8px;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}


.right2 ul li:hover{
    background-color: #08f200;
    color: #f1f1f1;

}

.right2 ul li a:hover{
    color: #f1f1f1 ;

}

.right3{

    width: 100%;
    height: auto;
    min-height: 350px;
    margin-bottom: 30px;
}

.right3 h2{
    border: 1px solid rgba(194, 226, 253,0.7);
    background-color: antiquewhite;
    padding: 10px 8px;
    text-align: center;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 460;
}

.right3 ul li{
    border: 1px solid  #f1f1f1;
    margin-bottom: 8px;
    padding: 10px 8px;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}


.right3 ul li:hover{
    background-color: #08f200;

}

.right3 ul li a:hover{
    color: #f1f1f1 ;

}

.reklam{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.reklam img{
    width: 100%;
    height: 300px;
}

@media screen  and (max-width: 1200px){
    .left{
        width: 100%;
        float: none;
        margin: 0;
    }

    .img-card   img{
        width: 300px;
        height: 200px;
    }
    /*.left2:hover{*/
    /*    transform: scale(.9);*/
    /*    z-index: 2;*/
    /*}*/

}
@media screen  and (max-width: 1200px){
    .right{
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media screen and (max-width: 1200px){
    .right{
        clear: both;
    }
}


.bizeulasin{
    border: 1px solid rgba(194, 226, 253,0.7);
    background-color: antiquewhite;
    color: #2a2a2a;
    padding: 10px 8px;
  text-align: center;
}
.bizeulasin h2{
    text-align: center;
    width: 100%;

}


/* about us field start */

.about-genel{
    width: 100%;
    height: 100vh;


}
.about{
    background-color: antiquewhite;
   padding: 10px 8px;
    font-size: 16px;
    font-weight: 380;
    font-family: sans-serif;
    margin-top: 55px;
}

.about h3{
    padding: 12px 8px;

}
.about p{
    margin: 5px;
    line-height: 1.5;
}

.about2{
    background-color: antiquewhite;
    padding: 10px 8px;
    font-size: 16px;
    font-weight: 380;
    font-family: sans-serif;
    margin-top: 55px;
}

.about2 h3{
    padding: 12px 8px;
}
.about2 p{
    margin: 5px;
    line-height: 1.5;
}

.about3{
    background-color: antiquewhite;
    padding: 10px 8px;
    font-size: 16px;
    font-weight: 380;
    font-family: sans-serif;
    margin-top: 55px;
}

.about3 h3{
    padding: 12px 8px;
}
.about3 p{
    margin: 5px;
    line-height: 1.5;
}

.about4{
    background-color: antiquewhite;
    padding: 10px 8px;
    font-size: 16px;
    font-weight: 380;
    font-family: sans-serif;
    margin-top: 55px;
}

.about4 h3{
    padding: 12px 8px;
   text-align: center;
}
.about4 p{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.about4 p a{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    padding-top:  13px ;
    border-radius: 60px;
    display: inline-block;
    margin : 25px;
    text-align: center;
    font-size: 19px;
     color: red;
}
.about4 p a:hover{
    color: #006ef7;
    background-color: #2a2a2a;

}

/* about us field done    */



/* giris area start    */

.giris{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.giris form{
    width: 350px;
    border: 1px solid #006ef7;
    height: auto;
    padding: 30px   ;
    border-radius: 20px;
    background-color: antiquewhite;
}


.giris form li{

    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 380;
    margin: 6px 5px 3px 3px ;
    padding: 5px;
}

.giris form li input{
    width: 100%;
    padding: 10px 8px;
    outline: none;
    border: 1px solid #dddd;

}

.giris form li button{
    border: 1px solid #e1e1e1;
    padding: 10px 8px;
    width: 100%;
    margin-top: 10px;
font-size: 15px;
    font-family: sans-serif;
}

.giris form li button:hover{
    background-color: lime;
    transition: .6s;
    color: #f1f1f1;
}


/* giris area done  */

/* panel giris start*/
.panel-giris{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.panel-giris ul{
    width: 350px;
    border: 1px solid #006ef7;
    height: auto;
    padding: 30px   ;
    border-radius: 20px;
    background-color: antiquewhite;
}


.panel-giris ul li{

    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 380;
    margin: 6px 5px 3px 3px ;
    padding: 5px;
}

.panel-giris ul li a{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 380;
}

.panel-giris ul li a:hover {
    color: #08f200;
    transition: 0.5s;

}

/* panel giris done  */


/* uye cikis start  */
.uye-cikis{
    border: 1px solid blanchedalmond;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    padding: 10px 8px ;
    margin-top: 8px;
    text-align: center;
    background: antiquewhite;
    color: #08f200;


}

/* uye cikis done  */

/* footer area start  */

.footer-area{
    position: relative;
    clear: both;
    width: 100%;
    height: auto;
    min-height: 380px;
    background-color: #2570fc ;
    padding: 25px 25px 0 25px;
    margin-top: 100px;
  border: 1px solid red;
}

.main{
    width: 100%;
    padding: 15px 25px 0 25px;
    margin: 15px auto;

}

.footer{

    width: 100%;
    padding: 8px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-footer{
    width: 28%;
    padding-left: 50px ;
    margin-left: 15px;


}
.single-footer:first-child{
    width: 35%;
    margin-right: 50px;
}

.single-footer h4{
    font-size: 25px;
    font-weight: 500;
     /*color: rgba(239,79,79,0.7);*/
    color: #08f200;
    /*box-shadow: 0 10px 20px  rgba(0,238,0,0.7);*/
    margin-bottom: 8px;

}

.footer-social a{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid rgba(194, 226, 253,0.7);
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    color:rgba(0,238,0,0.7);
    margin-bottom: 3px;
}
.footer-social a:hover{
    color: red;
}

.single-footer ul{
    text-decoration: none;
    list-style: none;
}
.single-footer ul li{
    text-decoration: none;
    list-style: none;
}
.single-footer ul li i{
    /*color:rgba(239,79,79,0.7);*/
    color:  #08f200;
}
.single-footer ul li a{
    text-decoration: none;
    color: #f1f1f1;
    /*box-shadow: 0 5px 10px  rgba(194, 226, 253,0.7);*/
    /*color: rgb(194, 226, 253);*/
    line-height: 1.5;
    font-size: 18px;
}
.single-footer ul li a:hover {
    color: rgba(0,238,0, 0.7);
}
.single-footer  p{
    font-size: 18px;
    font-weight: 300;
    color: #f1f1f1;
    margin-bottom: 8px;
}


.copy {
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    color: #f1f1f1;
}

@media screen and (max-width: 1200px){
    .main{
        width: 320px;
    }
    .single-footer:first-child,.single-footer{
        width: 100%;
        margin-bottom: 30px;
    }
    .single-footer:first-child{
        padding-left: 30px;
    }

}
@media screen and (max-width:365px) {
    .main{
        width: 300px;
    }
    .copy  {
        font-size: 13px;
    }

}
@media screen and (max-width:342px) {
    .main{
        width: 280px;
    }

}

/* footer area done  */

.error-search{
    border: 1px solid red;
    padding: 10px 8px;
    font-weight: 450;
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    background: antiquewhite;
}
/* errror  */




/* error done  */